table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .carInfo {
    font-weight: 200;
     color: black;
  }
 
  .maserati-fuels {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0.5rem 0 1rem 0;
  }
