.section {
    display: block;
    margin: 15px;
    padding: 5px;

}


.form {
    margin-top: 60px;
  }
  
  .form label {
    display:block;
    margin-top: 15px;
  }
  
  .form input, .form textarea {
    width: 100%;
    padding: 5px;
  }
  
  .form textarea {
   min-height: 300px;
  }
  
  .form button {
    display: block;
    background-color: #37ba83;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    text-transform: uppercase;
  }


  
  
  .Description {
    display: flex;
    color: gainsboro;
    padding: 1;
    text-shadow: 1px 1px 2px pink;
    text-transform: lowercase;
    text-underline-offset: 8px;
    text-align: start;
  }
  
  .section {
    position: relative;
    margin-top: 180px;
    text-align: center;
  }
  
  .section::before,
  .section::after {
    position: absolute;
    display: inline-flex;
    content: "";
    background-size: 700px 700px;
    height: 700px;
    width: 700px;
    z-index: -1;
  }
  
  .section::before {
    top: 40%;
    left: -40%;
    
  }
  
  .section::after {
    top: 0;
    right: -40%;
    
  }
  
  .maseratis {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    flex-wrap: wrap;
  }

  .hero {
    width: 120vw;
    height: 500px;
    transform: translateX(calc((-120vw + 1080px) / 2));
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .description {
    max-width: 600px;
    margin: auto;
  }
  @media screen and (max-width: 1200px) {
    .hero {
      transform: translateX(-5%);
    }
  }